@font-face {
    font-family: 'Bebas';
    src: url('fonte-bebas/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#logo-netflix {
    font-family: 'Bebas';
    font-size: 20px;
    color: red;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

header {
    background-color: black;
}

body {
    background-color: black;
}